html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }

@font-face {
    font-family: 'lobstertwo';
    src: url('fonts/lobstertwo-bold-webfont.woff2') format('woff2'),
         url('fonts/lobstertwo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cabin';
    src: url('fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('fonts/cabin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url("/images/fundo-padrao.png");
}

header {
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    z-index: 100;
    margin-bottom: 5em;
}

header h1 {
    font-family: "lobstertwo";
    font-size: 10em;
}

header h3 {
    font-family: "cabin";
    font-size: 2em;
}

.decorations {
    position: absolute;
    top: -30px;
    max-width: 1200px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.bolha {
    position: absolute;
    max-width: 1200px;
    min-width: 700px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.bolha-1 {
    z-index: 3;
    top: -30px;
}

.bolha-2 {
    z-index: 1;
    top: 20px;
}

.bolha-3 {
    z-index: 2;
    top: 85px;
}

.container {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
}

section {
    font-size: 1rem;
    
}

.card {
    position: relative;
    font-size: 1.5rem;
    font-family: "cabin";
    display: block;
    margin-bottom: 7em;
    padding: 0 1em;
    z-index: 100;
}

.card p {
    padding: 0.8em 0;
}

.card-left {
    text-align: left;
}

.card-right {
    text-align: right;
}

footer {
    background-color: lightpink;
    text-align: center;
    position: relative;
    z-index: 100;
}